<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    

    <div class="app">



<ul class="app__navbar1">

 <a href="/admin" class="app__navlinks">Admin</a>
          <a href="/paguno" class="app__navlinks">Página uno</a>
         <a href="/pagdos" class="app__navlinks">Página dos</a>
        <a href="/pagtres" class="app__navlinks">Página tres</a>

    
</ul>




<h1>{{titulo}}</h1>

    </div>

        

       
    

</body>
</html>