<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/styles/styles.css">
   <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>
<body>
    

    <div class="app" style="background-image: url('{{fondo}}')">



<ul class="app__navbar1">

 
    <a href="/" class="app__navlinks-active">Home</a>
    <a href="/face" class="app__navlinks">Face</a>
    <a href="/lips" class="app__navlinks">Lºips</a>
    <a href="/eyes" class="app__navlinks">Eyes</a>
    <a href="/admin" class="app__navlinks">Admin</a>
    
</ul>



<div class="app__informacion">
    

<h1 class="app__informacion__titulo">{{titulo}}</h1>

<p class="app__informacion__texto">{{descripcion}}</h1>
</div>

    </div>

        

       
    

</body>
</html>